.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-left: 70px;
    margin-right: 70px;
}

@media screen and (width < 768px) {
    .navigation {
        margin-left: 14px;
        margin-right: 14px;
        width: calc(100% - 28px);
    }
}