.about-project__text {
    margin-top: 26px;
    margin-bottom: unset;
    width: 550px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    color: #FFFFFF;
}