.portfolio__link {
    text-decoration: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    /* identical to box height, or 167% */

    letter-spacing: -0.04em;

    color: #FFFFFF;
}