.student__about-me {
    margin: unset;
    margin-top: 26px;
    padding: unset;
    width: 600px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */


    color: #FFFFFF;

    mix-blend-mode: normal;
}