.movie-card {
    display: flex;
    gap: 14px;
    flex-direction: column;
    background-color: #222222;
    width: 270px;
    height: 218px;
}

.movie-card__preview {
    width: 270px;
    height: 151px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    object-fit: cover;
}

.movie-card__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 12px;
}

.movie-card__info {
    display: flex;
    flex-direction: column;
}

.movie-card__title {
    margin: unset;
    padding: unset;
    color: #FFF;
    font-size: 13px;
    font-family: Inter;
    font-weight: 500;
}

.movie-card__duration {
    margin: unset;
    margin-top: 10px;
    padding: unset;
    color: #8B8B8B;
    font-size: 11px;
    font-family: Inter;
}

.movie-card__button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #313131;
}

.movie-card__button_active {
    background-color: #2BE080;
}