.navigation__list {
    display: flex;
    align-items: center;
    gap: 23px;
    margin: unset;
    padding: unset;
    list-style-type: none;
    margin-left: 44px;
}

@media screen and (width < 1024px) {
    .navigation__list {
        display: none;
    }
}