.navigation-mobile__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media screen and (width < 768px) {
    .navigation-mobile__item {
        gap: 26px;
    }
}