.navigation-mobile__item_user {
    display: flex;
    justify-content: center;
    margin: unset;
    padding: unset;
    margin-bottom: 80px;
}


@media screen and (width < 768px) {
    .navigation-mobile__item_user {
        margin-bottom: 144px;
    }
}