.about-me__short-info {
    margin: unset;
    padding: unset;
    margin-top: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    color: #FFFFFF;  
}