.technology__subtitle {
    margin-top: 26px;
    margin-bottom: unset;

    width: 460px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;
    letter-spacing: -0.04em;

    color: #FFFFFF;
}