.student__name {
    margin: unset;
    padding: unset;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    /* identical to box height, or 116% */

    letter-spacing: -0.04em;

    color: #FFFFFF;
}