.navigation__link {
    padding: unset;
    margin: unset;
    color: #FFF;
    text-align: right;
    font-size: 12px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: all 700ms;
}

.navigation__link:hover {
    opacity: .7;
}

@media screen and (width < 768px) {
    .navigation__link {
        font-size: 10px;
    }
}