.navigation__user-account {
    padding: unset;
    margin: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid rgba(170, 170, 170, .2);;
    width: 100px;
    height: 32px;
    color: #FFF;
    font-size: 14px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    gap: 7px;
    transition: all 700ms;
}

.navigation__user-account:hover {
    opacity: .8;
}

@media screen and (width < 1024px) {
    .navigation__user-account {
        display: none;
    }
}