.section__title {
    margin-bottom: 23px;
    padding-top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: -0.04em;

    color: #FFFFFF;
}