.about-project__timeline_stage_frontend {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: unset;
    padding: unset;
    width: 80%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #FFFFFF;
    background: #303030;
}