.login {
  width: 396px;
  margin: 0 auto;
  padding: unset;
}

.login__icon {
  padding-top: 70px;
}

.login__title {
  margin: unset;
  padding: unset;
  margin-top: 37px;
  color: #fff;
  font-size: 24px;
  font-family: Inter, sans-serif;
  font-weight: 500;
}

.login__label {
  display: block;
  margin-top: 20px;
}

.login__label:first-of-type {
  margin-top: unset;
}

.login__input {
  margin-top: 10px;
}

.login__form {
  margin-top: 40px;
}

.login__fieldset {
  padding: unset;
  margin: unset;
  border: none;
}

.login__submit {
  margin-top: 180px;
}

.login__error {
  margin-top: 10px;
}

.login__text {
  margin: unset;
  padding: unset;
  margin-top: 16px;
}

.login__icon {
  display: block;
}

@media screen and (width < 1024px) {
  .login__icon {
    padding-top: 230px;
  }
}

@media screen and (width < 768px) {
  .login {
    width: 260px;
  }

  .login__title {
    margin-top: 50px;
    text-align: center;
  }

  .login__form {
    margin-top: 80px;
  }

  .login__icon {
    padding-top: 55px;
  }

  .login__submit {
    margin-top: 267px;
  }

  .login__icon {
    display: flex;
    justify-content: center;
  }

  .login__text {
    margin-top: 12px;
  }
}
