.about-project__label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height, or 121% */

    text-align: center;

    color: #8B8B8B;
}