.form__input {
    padding: unset;
    padding: 15px;
    height: 16px;
    width: calc(100% - 30px);
    color: #FFF;
    font-size: 13px;
    font-family: Inter;
    border-radius: 8px;
    background: #2F2F2F;
    border: none;
    outline: none;
}